:root {
    --color1: #047200;
    --color2: #000000;
}

* {
    font-family: "Lato", sans-serif;
}

.card {
    border: 0;
    text-decoration: 0;
    color: black;
    overflow: hidden;
}

.card-img-top {
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.card-img-top:hover {
    transform: scale(1.15);
    transition: all 0.6s;
}

.card-body {
    position: relative;
    z-index: 9;
    background-color: white;
}

.title-product {
    color: white;
    position: relative;
}

.title-product:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
}
