/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html,
body {
    height: 100%;
}

.contenedor {
    padding: 50px;
    min-width: 700px;
    max-width: 1200px;
    min-height: 1000px;
    margin: 0 auto;
    /* grid */
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    gap: 10px;
}

.caja {
    background-color: #eee;
    font-size: 48px;
    color: white;
    /* ajusta el tamaño del background */
    background-size: cover;
    /* alinea el background  */
    background-position: center;
}

.caja:nth-of-type(1) {
    /* url('http:// ó micarpeta') */
    background-image: url("../img/tile1.jpg");
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.caja:nth-of-type(2) {
    background-image: url("../img/tile2.jpg");
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.caja:nth-of-type(3) {
    background-image: url("../img/tile10.jpg");
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.caja:nth-of-type(4) {
    background-image: url("../img/tile11.jpg");
    /* grid-column : 4 / -1, -1 hace referencia al final */
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.caja:nth-of-type(5) {
    background-image: url("../img/title18.jpg");
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.caja:nth-of-type(6) {
    background-image: url("../img/tile5.jpg");
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.caja:nth-of-type(7) {
    background-image: url("../img/title19.jpg");
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.caja:nth-of-type(8) {
    background-image: url("../img/title17.jpg");
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
